# Output folder

dist

# Node modules
node_modules

# Environment variables
.env

# Sentry stuff

.sentryclirc
sourcemaps.bat

# Config
eris.cfg.yml

# Webstorm stuff

/.idea

# Fleet stuff

/.fleet

# Private files

undeploy.ts
unregister.ts
get-stats.ts
get-ws-stats.ts
migrate-db.ts