# Output folder

dist

# Node modules
node_modules

# Environment variables
.env

# Sentry stuff

.sentryclirc
sourcemaps.bat

# Config
charmie.cfg.yml

# Webstorm stuff

/.idea

# Fleet stuff

/.fleet